.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block-start: 64px;
  width: 100%;
  @media (min-width: 768px) {
    width: 360px;
  }
  @media (min-width: 1366px) {
    width: 480px;
  }
}

.formLabel {
  display: flex;
  flex-direction: column;
}
